<html>
<head>
    <meta charset = "utf-8">
    <title>...</title>
    ...
</head>
<body>
    <div id = "wrap">
        <div class = "leftDiv">
            <div id = "logo">...</div> 
            <div id = "login">
                <a href = "">用JAccount账号登录</a>
            </div>
            ...
        </div>
        <div class = "rigntContent">
            <div id = "title">...</div>
            <div id = "show">...</div>
                <p id = "show">显示审核结果</p>
            <div id = "download">...</div>
                <p id = "download">下载</p>
            <div id = "update">
                <p> 更新</p>
                <p> 距离上次更新多久</p>
            <div id = "form">...</div>
        </div>
    </div>
</body>
</html>
